<!DOCTYPE html>

<html>

<head>
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/school_page.css" rel="stylesheet" type="text/css">
    
    <title>Recent</title>
</head>

<body>

<!-- Navigation Bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container" id="nav-elements">
            <div class="nav-collapse collapse">
                <ul class="nav">
                  <li>
                    <a href="/">Buzzme</a>
                  </li>
                  <li>
                    <a href="/about">About Us</a>
                  </li>
                  <li class="active">
                    <!-- page for all recent posts -->
                    <a href="/school/all">Recent</a>
                  </li>                
                </ul>
                <!--Search for a School-->
                <div class="input-append" id="nav-school-search">
                    <input name="school" id="nav-school-search-field" type="text" placeholder="Search for a school">
                    <button type="submit" class="btn">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="wrapper">
<div id="page">


    <!-- School Name -->
    <h1 id="school-name">Recent</h1>
    <!--Message Feed-->
    <div id="feed">

            <% @messages.each do |message| %>
                
                <!-- feed entry for each message -->
                <div class="message">
                    Dear <a id="target-name" href="/target/<%= message.target.id %>/recent"><%= message.target.name %></a>,
                    <span id="school-name">at <% message.school_id %> </span>

                    <span class="message-body"> <%= message.body %></span>

                    <div class="message-bottom-bar">
                        <span class="timestamp"><%= format_timestamp(message.created_at) %></span>
                        <span class="message-controls">
                        <a class="like_button" data-messageid="<%=message['id']%>" href="/like/<%=message['id']%>">
                        Buzz Up! (<%= message.likes %>)</a> | 
                        <a href="#">Comment</a> | 
                        <a href ="#">Abuse</a>
                        </span>
                    </div>
                </div>
            <%end%>
        </div>

        <!-- Sidebar -->
    <div id="sidebar">
        <div class="nav-header" id="compliment-label"><i class="icon-heart"></i> Leave a compliment!</div>
        <form method="POST" action="">
            <input id="sidebar-enter-name" type="text" name="target" placeholder="Student's Name"></input>
            <textarea id="sidebar-enter-message" name="message" placeholder="Write them a compliment!"></textarea>
            <button id="buzz-button" class="btn btn-large button btn-info" type="submit"><i class="icon-comment icon-white"></i> Share!</button>
        </form>
    </div>


</div>
</div>


    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- script to make ajax call to '/like/messageId' when like button is clicked -->
    <script type="text/javascript">
        $(".like_button").click(function() {
            var messageid = $(this).data("messageid");
            $.get("/like/" + messageid);

        });

    </script>
    <!-- Following Sidebar
    <script type="text/javascript" src="js/sidbar.js"></script>
    -->

</body>
</html>