<!DOCTYPE html>

<html>

<head>
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/all_school_feed.css" rel="stylesheet" type="text/css">
    
    <title>Live Feed</title>
</head>

<body>

<!-- Navigation Bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container" id="nav-elements">
            <div class="nav-collapse collapse">
                <ul class="nav">
                  <li>
                    <a id="buzzme" href="/">Buzzme</a>
                  </li>
                  <li>
                    <a href="/about">About Us</a>
                  </li>
                  <li class="active">
                    <!-- page for all recent posts -->
                    <a href="/feed">Recent</a>
                  </li>                
                </ul>
                <!--Search for a School-->
                <div class="input-append" id="nav-school-search">
                    <input name="school" id="nav-school-search-field" type="text" placeholder="Search for a school">
                    <button type="submit" class="btn">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="wrapper">
<div id="page">


    <!-- School Name -->
    <h1>Live Feed</h1>
    <!--Message Feed-->
    <div id="feed">

            <% @messages.each do |message| %>
                
                <!-- feed entry for each message -->
                <div class="message">
                    Dear <a id="target-name" href="/target/<%= message.target.id %>/recent"><%= message.target.name %></a>,
                    <span id="school-name">
                        <a href = "/school/<% message.school.id %>/recent"><%= message.school.name %></a>
                    </span>

                    <span class="message-body"> <%= message.body %></span>

                    <div class="message-bottom-bar">
                        <span class="timestamp"><%= format_timestamp(message.created_at) %></span>
                        <span class="message-controls">
                         <form class="like-form" method="post" action="/like/<%=message['id']%>" style="display:inline;">
                            <button class="like-button" data-message-id="<%= message['id'] %>" type="submit">Buzz Up! (<span class="likes"><%= message.likes %></span>)</button>
                            <input type="hidden" name="return" value="/feed">
                        </form> | 
                        <a href="#">Comment</a> | 
                        <a href ="#">Abuse</a>
                        </span>
                    </div>
                </div>
            <%end%>
        </div>


</div>
</div>


    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/eve.js/0.8.1/eve.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/js/sort-links.js"></script>
    <script src="/js/like-button.js"></script>

</body>
</html>