<!-- School Name -->

<div class="span8"><h1><%=@school["name"]%></h1></div>

<!-- Grid: Two Columns -->
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
            <!-- Feed-->
            <% @messages.each do |message| %> <br/>
                <div class="well message row span6">
                    Dear <b><%=titlecase(message["target_name"])%></b>,
                    <p><p><%=message["message"]%>
                    <p><p><i><%= get_formatted_timestamp(message["timestamp"]) %> | <a class="like_button" data-messageid="<%=message['id']%>" href="/like/<%=message['id']%>">Buzz Up! (<%=message["likes"]%>)</a> | Comment | Abuse</i>
                </div>
            <%end%>
        </div>
        
        <div class="span4">
            <!-- Sidebar -->
            <ul class="nav nav-list">

                <li class="nav-header">Search</li>
               
                <!-- INPUT: Search Bar -->
                    <div class="span12 well well-small" style="background:#ADD8E6">
                        Search here</div>

                <p>
                <!-- Heading: Sort By -->
                    <li class="nav-header">
                        Sort By</li>

                    <!-- BUTTON: Recent -->
                        <div class="span12 well well-small" style="background:#ADD8E6">
                            Recent</div>

                    <!-- BUTTON: Trending -->
                        <div class="span12 well well-small" style="background:#ADD8E6">
                            Trending</div>

                <p>
                <!-- Heading: Buzz Someone! -->
                    <div class="nav-header">
                        Buzz Someone!</div>

                    <!-- INPUT: Name of Recipient -->
                        <div class="span12 well well-small" style="background:#ADD8E6">
                            Who would you like to buzz?</div>

                    <!-- INPUT: Trending -->
                        <div class="span12 well well-small" style="background:#ADD8E6">
                            What would you like to say?</div>
            </ul>
        </div>
    </div>
</div>